*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header section */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.766);
  width: 100%;
}

.logo-container {
  display: flex;
}

.logo-icon {
  padding-left: 2.4rem;
  width: 6rem;
}

h1 {
  font-size: 3.2rem;
  color: #343a40;
  letter-spacing: 1px;
  font-weight: 600;
}

h1 span {
  color: #adb5bd;
  font-weight: 200;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-item {
  font-size: 2.4rem;
  font-weight: 300;
  margin-right: 2rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #868e96;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: #343a40;
  font-weight: 700;
}

/* Section 1 */
.section--1 {
  background-image: url("./images/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 75vh;
  position: relative;
}

.banner-text-container {
  width: 12%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 10%;
  left: 5%;
  transform: translate(-10%, -10%);
}

.banner-text-container h2 {
  font-size: 4.2rem;
  color: #fff;
  font-weight: 700;
}

.banner-text-container p {
  font-size: 2.6rem;
  color: #fff;
  font-weight: 200;
}

button {
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  display: block;
  width: 90%;
  color: #36393b;
}

button:hover {
  background-color: #868e96;
  cursor: pointer;
}

/* Section 2  */
.section--2 {
  display: flex;
  margin-top: 3rem;
}

.information {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.information-image {
  width: 100%;
}

.information-title {
  font-size: 3rem;
  color: #777;
  word-spacing: 2px;
  font-weight: 700;
}

.information-text {
  font-size: 1.6rem;
  color: #adb5bd;
  line-height: 1.3;
  letter-spacing: 2px;
}

.information-author {
  font-size: 1.4rem;
  color: #777;
  line-height: 1.3;
  letter-spacing: 2px;
}

.info {
  display: flex;
  flex-direction: row;
}

.info-image {
  width: 35%;
  padding: 0 2.5rem 2.5rem 2.5rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: start;

  color: #343a40;
  font-size: 20px;
  font-weight: 400;
  gap: 2rem;
}

.info-text a {
  color: #838688;
  text-decoration: underline;
  font-weight: 300;
}
.info-text p {
  color: #868e96;
  font-size: 18px;
  font-weight: 300;
}

/* Start lerning section 3 */
.container {
  background-color: #e9ecef;
  padding: 3.2rem 6.4rem;
}

.container h2 {
  font-size: 3.6rem;
  text-align: center;
  color: #495057;
  padding-bottom: 3.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3.2rem;
  column-gap: 3.2rem;
}

img {
  max-width: 100%;
}

.grid-title {
  color: #495057;
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.grid-course {
  color: #868e96;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.grid-content {
  color: #868e96;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.8rem;
}

/* Section 5 */
.section--5 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

video {
  width: 100%;
}

.exhibit-section h2 {
  flex: 0 0 100%;
  text-align: center;
  padding: 32px 0;
  font-size: 3.6rem;
  color: #495057;
}

.left {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.left h3 {
  margin-top: 2.4rem;
  color: #495057;
  font-weight: 600;
  font-size: 1.8rem;
}

.left p {
  margin-top: 8px;
  color: #868e96;
  font-weight: 200;
  line-height: 1.5;
}
.right {
  margin-left: auto;
}

.right img {
  width: 80%;
}

.right h3 {
  color: #495057;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 0.6rem;
}

.right p {
  color: #868e96;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer {
  height: 10vh;
  margin-top: 1.6rem;
  padding-left: 2.4rem;
  display: flex;
  justify-content: space-between;
  background-color: #868e96;
  color: #333;
  font-size: 2rem;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
}
footer ul li {
  list-style: none;
}
